.container {
  box-sizing: border-box;
  border: 1px solid gray;
  display: grid;
  width: 960px;
  margin: 100px auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.box {
  box-sizing: border-box;
}

.clear {
  display: block;
  margin: 100px auto;
  background-color: blue;
  padding: 25px 50px;
  border: none;
  font-size: 2em;
}